.hero-header {
  padding-top: 0 !important;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0 !important;
}

.wrapper {
  position: relative;
  margin-top: 2rem;
}

.text-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.line {
  display: flex;
  flex-wrap: wrap;
}

.word {
  white-space: nowrap;
}

.letter {
  /* width: .75ch; */
  /* flex: 1; */
}

.space {
  /* width: .5em;
  flex: 1; */
}

.hero-header {
  /* inset: 0;
  position: absolute; */
}

.letter {
  position: relative;
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.5, 1.5, 0.5, 1) 0s;
  transform-origin: bottom;
}

.space {
  /* display: inline-block; */
 /* Adjust this value for the desired space */
}
